@import url('https://fonts.googleapis.com/css?family=Numans');
/* backgroung image setup and size*/
html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
/* container height and align setup*/
.container{
height: 100%;
align-content: center;
}
/* card height and margin setup*/
.card{
height:auto;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: rgba(0,0,0,0.5) !important;
}


.card-header{
color: white;
text-align: center;
}
.card-footer{
    color: white;
    text-align: center;
    }
    table td{
        color: white;
        text-align: left;
    }
label{
    color: white; 
}
/* icon color and size setup*/
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

